<!DOCTYPE html>
<html prefix="dct: http://purl.org/dc/terms/
              rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
              dcat: http://www.w3.org/ns/dcat#
              odrs: http://schema.theodi.org/odrs#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<title><%= page.title %></title>

<% if (typeof csrfToken !== 'undefined' && csrfToken) { %>
<meta name="csrf-token" content="<%= csrfToken %>">
<% } %>

<script type="text/javascript" src="/lib/jquery-3.7.1.min.js"></script>

<link href="/css/water.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/glyphicon.css" rel="stylesheet">
<link href="/lib/DataTables/datatables.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link rel="shortcut icon" href="/images/odifavicon32.ico">
<script src="/lib/jquery-3.7.1.min.js"></script>
<script src="/lib/ajv7.min.js"></script>
<script src="/lib/jquery.csv.min.js"></script>
<script src="/lib/DataTables/datatables.min.js"></script>
<link href="/lib/select2.min.css" rel="stylesheet" />
<script src="/lib/select2.min.js"></script>
</head> 
<body>
	<div id="contentOverlay" class="overlay">
		<div id="overlay-content" class="overlay-content" style="width: 90%; margin: auto; margin-top: 20px; max-height: 90vh;">
			<span class="close-btn" onclick="closeOverlay()" style="right: 40px;
			top: 20px;
			font-size: 3rem;
			font-weight: normal;">&times;</span>
			<div id="overlay-content-inner" style="overflow-y: scroll; min-width: 100%;"></div>
		</div>
	</div>
	<header class="header">
		<p class="version"><a href="<%= software.versionLink %>" target="_blank">v<%= software.version %></a></p>
		<div class="container">
			<div class="header-top">
			<a href="/" class="logo"></a>
			<nav class="main-nav" aria-label="Main Menu">
				<ul>
				<% if(user) { %>
					<li class="has-submenu">
						<span class="toggle-link">Browse</span>
						<ul class="submenu">
							<li>
								<a href="/hubspot/courses" class="toggle-link">
									<img src="/lib/icons/hubspot.ico" alt="HubSpot" style="height:16px;width:16px;vertical-align:middle;margin-right:6px;">Courses
								</a>
							</li>
							<!--<li>
								<a href="/hubspot/products" class="toggle-link">
									<img src="/lib/icons/hubspot.ico" alt="HubSpot" style="height:16px;width:16px;vertical-align:middle;margin-right:6px;">Products
								</a>
							</li>-->
							<li>
								<a href="/course-bookings" class="toggle-link">
									<img src="/lib/icons/hubspot.ico" alt="ODI" style="height:16px;width:16px;vertical-align:middle;margin-right:6px;">Bookings
								</a>
							</li>
							<li>
								<a href="/moodle/courses" class="toggle-link">
									<img src="/lib/icons/moodle.webp" alt="Moodle" style="height:16px;width:16px;vertical-align:middle;margin-right:6px;">Moodle Courses
								</a>
							</li>
							<li>
								<a href="/moodle/users" class="toggle-link">
									<img src="/lib/icons/moodle.webp" alt="Moodle" style="height:16px;width:16px;vertical-align:middle;margin-right:6px;">Enrollment data
								</a>
							</li>
							<li>
								<a href="/forecast/projects" class="toggle-link">
									<img src="/lib/icons/forecast.png" alt="Forecast" style="height:16px;width:16px;vertical-align:middle;margin-right:6px;">Projects
								</a>
							</li>
							<li>
								<a href="/forecast/labels" class="toggle-link">
									<img src="/lib/icons/forecast.png" alt="Forecast" style="height:16px;width:16px;vertical-align:middle;margin-right:6px;">Labels
								</a>
							</li>
						</ul>
					</li>
					<li class="has-submenu">
						<span class="toggle-link">Create</span>
						<ul class="submenu">
							<li>
								<a href="/hubspot/courses/new" class="toggle-link">
									<img src="/lib/icons/hubspot.ico" alt="HubSpot" style="height:16px;width:16px;vertical-align:middle;margin-right:6px;">Course
								</a>
							</li>
							<li>
								<a href="/course-bookings/new" class="toggle-link">
									<img src="/lib/icons/hubspot.ico" alt="ODI" style="height:16px;width:16px;vertical-align:middle;margin-right:6px;">Tutored Course Booking
								</a>
							</li>
							<li>
								<a href="/self-paced-bookings/new" class="toggle-link">
									<img src="/lib/icons/hubspot.ico" alt="ODI" style="height:16px;width:16px;vertical-align:middle;margin-right:6px;">Self-Paced Course Booking
								</a>
							</li>
							<li>
								<a href="/forecast/import" class="toggle-link">
									<img src="/lib/icons/forecast.png" alt="Forecast" style="height:16px;width:16px;vertical-align:middle;margin-right:6px;">Tasks (Import)
								</a>
							</li>
						</ul>
					</li>
					<li><a href="/manual" class="toggle-link <% if (page.link === '/manual') { %>selected<% } %>">Help</a></li>
					<% if (user.authMethod === 'google') { %>
						<!--<li><a href="/auth/local/reset-password">View/Change local password</a></li>-->
					<% } %>
					<li>
						<a style="padding: 0;" class="toggle-link <% if (page.link === '/auth/profile') { %>selected<% } %>" href="/auth/profile"><%= user ? (user.displayName || (user.first_name && user.last_name ? user.first_name + ' ' + user.last_name : user.email)) : 'Guest' %></a>
						<form style="display: inline-flex;" id="logout_form" action="/auth/logout" method="post">
							<span>(<a href="javascript:;" onclick="document.getElementById('logout_form').submit();">Logout</a>)</span>
						</form>
					</li>
				<% } else { %>
					<li><a href="/auth/google" class="toggle-link">Login</a></li>
				<% } %>
				</ul>
			</nav>
			</div>
		</div>
	</header>