<%- include('../../partials/header') %>
<link rel="stylesheet" href="//cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css"/>

<section class="content-block light-grey">
  <h1><%= type %></h1>
  <% if (data && data.length > 0) { %>
    <table id="datatable">
      <thead>
        <tr>
          <% Object.keys(data[0]).forEach((key) => { %>
            <th><%= key %></th>
          <% }); %>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((row) => { %>
          <tr>
            <% Object.keys(data[0]).forEach((key) => { %>
              <td>
                <% if (type === "products" && key === "id") { %>
                  <!-- Link from products page to deals route -->
                  <a href="/hubspot/products/<%= row.id %>/deals"><%= row.id %></a>
                <% } else if (type === "deals" && key === "id") { %>
                  <!-- Link from deals page to HubSpot's deal view -->
                  <a href="https://app.hubspot.com/contacts/<%= hubspotPortalId %>/deal/<%= row.id %>" target="_blank"><%= row.id %></a>
                <% } else { %>
                  <%= row[key] %>
                <% } %>
              </td>
            <% }); %>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <p>No <%= type %> found.</p>
  <% } %>
</section>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
<script>
  $(document).ready(function () {
    const type = "<%= type %>";
    if ($('#datatable').length) {
      $('#datatable').DataTable({
        dom: 'Bfrtip',
        pageLength: 50,
        scrollX: type === "projects",
        buttons: [
          'copyHtml5',
          'excelHtml5',
          'csvHtml5',
          'pdfHtml5'
        ]
      });
    }
  });
</script>
<%- include('../../partials/footer') %>
