<%- include('../../partials/headerForm') %>

<section class="content-block bg-light py-5">
  <div class="container">
    <div class="card shadow">
      <div class="card-body">
        <div class="alert alert-success" role="alert">
          <h4 class="" style="color: #082589;" ><%= message %></h4>
          <ul class="list-group list-group-flush mb-4">
            <% Object.entries(data).forEach(([key, val]) => { %>
              <li class="list-group-item" style="color: #082589;" >
                <strong class="text-capitalize" style="color: #082589;"><%= key.replace(/_/g, ' ') %>:</strong>
                <%= val %>
              </li>
            <% }) %>
          </ul>

          <div class="text-center">
            <button clas="btn">
              <a href="/hubspot/form" style="text-decoration: none;" class="nav-link active">
              Book Another
            </a>
            </button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%- include('../../partials/footer') %>
